BasedOnStyle: microsoft
AccessModifierOffset: -4
AlignConsecutiveAssignments: false
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 150
NamespaceIndentation: All
PointerAlignment: Left
TabWidth: 4
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
UseTab: Never
AlignAfterOpenBracket: BlockIndent 
AllowAllArgumentsOnNextLine: true
